<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">En İyisi Sormak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Ana Sayfa
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="giris">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kayıt">Kayıt Ol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="soru">Sorunu Sor</a>
        </li>
        
          
   
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="card border-primary mb-3" style="max-width: 35rem;">
  <div class="card-header">Ne zaman bir inci sözlük olucaz?</div>
  <div class="card-body">
    <h4 class="card-title">Ben nasıl büyük adam olucam?</h4>
    <p class="card-text">Henüz daha şık bir tasarıma bile sahip değilken büyük hayaller kuruyoruz sonumuz ne olur acaba.</p>
  </div>
</div>


<div class="card border-primary mb-3" style="max-width: 35rem;">
  
  <div class="card-body">
    <h4 class="card-title">Düşünme</h4>
    <p class="card-text">Kafana birşey takılıyorsa sor gitsin onlarca insan senin için bu platformda.</p>
  </div>
</div>

<div class = container mt-5>
  <div class = "rov">
    <div class = "col-md-4">

<div class="latest-posts"><a href="cevap1">
  <div class="post d-flex align-items-center">
 
    <div class="title"><strong>Dolar Kuru Düzelir mi?</strong><span class="date last-meta"></span></div>
  </div></a><a href="ps">


    <img src="assets/dolar.jpg" class="img-fluid rounded-circle">

  <div class="post d-flex align-items-center">

    
    
    <div class = container mt-5>
      <div class = "rov">
        <div class = "col-md-4">


    <div class="title"><strong>PS Mİ YOKSA XBOXMU?</strong><span class="date last-meta"></span></div>


    <img src="assets/ps5jpg.jpg" class="img-fluid rounded-circle">
    <img src="assets/xbox.jpg" class="img-fluid rounded-circle">


     <footer class="main-footer">
      
        <div class="row">

            <div class="contact-details">
              <p>Akdeniz Üniversitesi , Antalya</p>
              <p>Telefon: (538)0528544</p>
              <p>Email: <a href="mailto:eniyisisormak@info.com">eniyisisormak@info.com</a></p>
              
            </div>
          </div>